#gameCanvas {
    background: #f0f0f0;
    display: block;
    margin: 0 auto;
}

.game-title {
    font-size: 3rem; /* 調整字型大小 */
    font-weight: bold; /* 加粗 */
    color: #007bff; /* 藍色 */
}

.difficulty-container {
    border: 2px solid #007bff; /* 藍色邊框 */
    border-radius: 10px; /* 圓角 */
}

.start-button {
    width: 300px; /* 寬度 */
    height: 100px; /* 高度 */
    font-size: 2rem; /* 字型大小 */
}

.btn {
    font-size: 1.25rem; /* 按鈕字型大小 */
}
