#gameCanvas {
    background: #f0f0f0;
    display: block;
    margin: 0 auto;
}

.game-title {
    font-size: 3rem; /* 調整字型大小 */
    font-weight: bold; /* 加粗 */
    color: #007bff; /* 藍色 */
}

.difficulty-container {
    border: 2px solid #007bff; /* 藍色邊框 */
    border-radius: 10px; /* 圓角 */
}

.start-button {
    width: 300px; /* 寬度 */
    height: 100px; /* 高度 */
    font-size: 2rem; /* 字型大小 */
}

.btn {
    font-size: 1.25rem; /* 按鈕字型大小 */
}
.theme-container {
    border: 2px solid #007bff; /* 可以改變顏色 */
    border-radius: 10px; /* 圓角 */
}

body {
    background-size: cover; /* 讓背景圖片覆蓋整個頁面 */
    background-position: center; /* 背景圖片居中 */
}
#gameArea {
    display: flex;
    flex-direction: column;
    align-items: center; /* 水平居中 */
}

.title-container {
    margin-top: 20px;
    border-bottom: 2px solid #000; /* 邊框 */
    width: 800px;
    background-color: rgba(255, 255, 255, 0.7); /* 背景顏色 */
    padding: 10px; /* 內邊距 */

}


.btn.selected {
    background-color: #28a745; /* 選中時的背景顏色 */
    color: white; /* 文字顏色 */
    border-color: #218838; /* 邊框顏色 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 添加陰影效果 */
}